<!-- Page Content -->

<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Занятия
                <small>для детей</small>
            </h1>
            <ol class="breadcrumb">
                <li><a data-ui-sref="home" href="/">Главная</a>
                </li>
                <li class="active">Занятия</li>
            </ol>
        </div>

    </div>
    <!-- /.row -->

    <div class="row">

        <div class="col-lg-12">
            <img class="img-responsive" src="http://placehold.it/1200x300">
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Paragraphs -->

    <div class="row">

        <div class="col-md-8">
            <h2 class="page-header">Our Premium Services</h2>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>

        <div class="col-md-4">
            <h2 class="page-header">Something More</h2>

            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips
                amets.</p>
            <a class="btn btn-primary" href="#">Click Me!</a>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Tabs -->
    
    <div class="row">
    	<div class="col-lg-12">
    		<tabset>
    			 <tab heading="Познавашки, 1&mdash;3 года">
    			 	<div class="row">
    			 		<div class="col-md-4">
    			 			<img class="img-responsive" src="/img/poznavashki.png">
    			 		</div>
    			 		<div class="col-md-8">
    			 			<h3>Занятия-игры с детьми раннего возраста (1&mdash;3 года)</h3>
    			 			Каждое занятие подразделяется на части и включает в себя  игры и задания, направленные на развитие:
		    			 	<ul>
		    			 		<li>мелкой моторики</li>
		    			 		<li>музыкального ритма <small>(развитие основных движений, координации, музыкального слуха)</small></li>
		    			 		<li>ручной умелости и творческих способностей <small>(аппликация, лепка, рисование доступными средствами — малыш всегда уходит с занятия с поделкой)</small></li>
		    			 		<li>речи <small>(артикуляционная гимнастика, логоритмика, звуковые игры и расширение словаря ребёнка)</small></li>
		    			 		<li>памяти, внимания, мышления, счёта и знакомство с буквами <small>(кубики Зайцева)</small></li>
		    			 		<li>индивидуальных способностей и их выявление</li>
		    			 		<li>взаимоотношений со сверстниками и адаптацию к детскому саду</li>		    			 		
		    			 	</ul>
		    			 	<p>Занятия проходят в игровой форме, до 2-х лет при участии родителей. Максимальное количество детей в группе - 6 человек,что обеспечивает индивидуальный подход к каждому ребёнку.</p>		    			 	
		    			 	<h3>Памятка родителям</h3>
		    			 	<p>По правилам посещения нашего центра дети до двух лет посещают наши занятия в сопровождении взрослого.</p> 
							<p>На занятие малыш может приходить с мамой, папой, бабушкой, няней и пр.(один сопровождающий). Это связано, прежде всего, с эмоциональной близостью мамы и малыша.</p> 
							<p>Незнакомая обстановка, новые игрушки и даже поведение других детей могут вызвать разнообразные реакции начинающего ученика. Помните, что занятие невозможно проводить без Вашего активного участия, т.к. именно близкие являются эталоном поведения и создают чувство защищённости.</p>
							<p><strong>Выключайте мобильные телефоны!</strong> Детям раннего возраста трудно сконцентрировать внимание, а звонящий телефон отвлекает их от познавателного процесса.</p>
							<p class="lead">НА ЗАНЯТИЯХ НЕОБХОДИМО ИМЕТЬ СМЕННУЮ ОБУВЬ!</p>
    			 		</div>    			 	
    			 	</div>
    			 </tab>    			 
    			 <tab heading="Развивашки, 3&mdash;5 лет">
    			 	<div class="row">
    			 		<div class="col-lg-8">
		    			 	<h3>Развивающие игры-занятия для детей от 3 до 5 лет</h3>
		    			 	Каждое занятие подразделяется на части и включает в себя  игры и задания, направленные на развитие:
		    			 	<ul>
		    			 		<li>интеллекта, кругозора, общих  знаний</li>
		    			 		<li>речи</li>
		    			 		<li>грамоты и математических представлений</li>
		    			 		<li>мелкой и общей моторики, пространственной ориентации, тактильных ощущений</li>
		    			 		<li>психических функций &ndash; внимание, память, мышление</li>
		    			 		<li>воображения, фантазии</li>
		    			 		<li>изобразительной, эстетической деятельности</li>
		    			 		<li>любознательности, познавательной и экспериментальной деятельности</li>
		    			 		<li>игровой деятельности, самостоятельности</li>
		    			 	</ul>
		    			 	<p>Гармоничное развитие возможно только тогда, когда различные  составляющие развития не преобладают друг над другом, т.е. в определенный период роста и развития дошкольника необходимому уделяется необходимое время. Поэтому мы обращаем особое внимание на то, чтобы в каждой теме сочетались и теория  (объяснение, просмотр картинок), и практическое воплощение приобретенных ребенком знаний. Послушать сказку  и обыграть ее,  нарисовать персонажей  и сыграть в подвижную игру на сказочную тему, составить из Кубиков Зайцева имена героев. Мы стараемся включить в деятельность ребенка по освоению темы как можно больше элементов.</p>
		    			 	<p>Используемые на одном занятии задания и упражнения тщательно подобраны для дошкольников конкретного возраста.</p>
	    			 	</div>
	    			 	<div class="col-lg-4 col-md-4">
	                		<img class="img-responsive" src="/img/razvivashki.png">
	            		</div>
            		</div>
    			 </tab>
    		</tabset>
    	</div>
    </div>

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Tabbed Services</h2>
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#service-one" data-toggle="tab">Service One</a>
                </li>
                <li><a href="#service-two" data-toggle="tab">Service Two</a>
                </li>
                <li><a href="#service-three" data-toggle="tab">Service Three</a>
                </li>
                <li><a href="#service-four" data-toggle="tab">Service Four</a>
                </li>
                <li><a href="#service-five" data-toggle="tab">Service Five</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="service-one">
                    <i class="fa fa-gear pull-left fa-4x"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                </div>
                <div class="tab-pane fade" id="service-two">
                    <i class="fa fa-gears pull-left fa-4x"></i>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                </div>
                <div class="tab-pane fade" id="service-three">
                    <i class="fa fa-magic pull-left fa-4x"></i>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>
                </div>
                <div class="tab-pane fade" id="service-four">
                    <i class="fa fa-flask pull-left fa-4x"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum
                        dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in
                        faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                        egestas. Etiam placerat nunc ut tellus tristique, non posuere neque iaculis. Fusce aliquet dui
                        ut felis rhoncus, vitae molestie mauris auctor. Donec pellentesque feugiat leo a adipiscing.
                        Pellentesque quis tristique eros, sed rutrum mauris.</p>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>
                </div>
                <div class="tab-pane fade" id="service-five">
                    <i class="fa fa-flag pull-left fa-4x"></i>

                    <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere
                        placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent
                        sem nibh, vulputate nec congue eu, dapibus vitae augue. Suspendisse cursus urna sit amet metus
                        porttitor, in pharetra quam feugiat. Etiam tempus euismod nulla eget pellentesque.</p>

                    <p>Vestibulum laoreet molestie urna ac vehicula. Phasellus laoreet semper ipsum ac gravida. Sed in
                        varius tortor. Nullam blandit in neque quis aliquet. Fusce volutpat pellentesque sem non
                        convallis. Suspendisse sit amet magna pulvinar, gravida mauris eu, tincidunt massa. Nam lectus
                        mi, viverra non quam nec, mollis malesuada dolor. Vivamus hendrerit nunc interdum turpis
                        egestas, a lobortis odio consequat. Fusce posuere purus quis ligula faucibus lacinia. Curabitur
                        sit amet congue dolor. Duis dapibus hendrerit nunc et gravida. Phasellus mollis, lectus quis
                        ornare aliquam, arcu orci posuere lectus, vehicula bibendum sem ante quis lacus.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

    <!-- Service Images -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Service Images</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service One</h3>

            <p>Service one description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service Two</h3>

            <p>Service two description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis
                nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>Service Three</h3>

            <p>Service three description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam
                quis nisl vestibulum dignissim. In hac habitasse platea dictumst.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
